@charset "utf-8";
/* CSS Document */



html,
body {
    overflow-x: hidden;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
  margin: 0px;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid yellow;
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#main-content {
    background-color: #f3f3f3;
    min-height: 100%
}

#maincontent {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}
#footer {
  background-color: #444;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0px 25px 0px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
	display: flex;
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
    height: 400px;
    width: 100vw;
    background-color: #ccc;
}

.restaurants-map{
  display: none;
}

.show-btn-container{
  padding: 10px;
  button {
    color: white;
    background: #AD5C00;
    border: none;
    padding: 10px;
    width: 180px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.hidden{
  visibility: hidden;
  transition: all .5s;
}
.show{
  visibility: visible;
  transition: all .5s;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
	padding: 10px 0px 10px 0px;
  background-color: #3397DB;
  align-items: center;
}

.filter-options .select_label {
color: white;
font-size: 14pt;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
    background-color: #f3f3f3;
    list-style: outside none none;
    width: 100%;
    padding: 0px;
}

#restaurants-list li {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 5px;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left;
    width: calc((100% - 15px) / 5);
    display: inline-block
}

#restaurants-list .restaurant-img {
    display: block;
    margin: 0;
    padding: 12px 0 0 0;
    max-width: 100%
}

#restaurants-list li h2 {
    color: #AD5C00;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt
}

#restaurants-list li a {
    background-color: #AD5C00;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.inside header {
    top: 0;
    width: 100%;
    z-index: 1000
}

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 55vw;
    right: 0;
    order: 1;
    width: calc((100% - 80px) / 2)
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%
}

.inside #footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 30px 0 30px;
    text-transform: uppercase;
    line-height: 1.1
}

#restaurant-img {
    width: 90%
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%
}

#restaurant-container,
#reviews-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  justify-content: center;
    padding: 10px 0px 30px;
    width: 100%;
}

#restaurant-container {
    width: calc((100% - 80px) / 2);
    height: 55vw;
    order: 0
}

#reviews-container {
    order: 2;
    padding: 10% 20% 80px 20%;
    width: 100%
}

#reviews-container h3 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt
}

#reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%
}

#reviews-list li p {
    margin: 0 0 10px;
    font-size: 1.2em;
    text-align: justify
}

#reviews-list li h4 {
    font-weight: 700;
    font-size: 2em
}

#reviews-list li h6 {
    color: #818181;
    font-size: 14px
}

#reviews-list li h5 {
    font-weight: 700;
    font-size: 18px
}

#restaurant-hours {
    width: 100%;
    overflow-x: auto
}

#restaurant-hours td {
    color: #616161;
    font-size: 1.4em
}

#restaurant-hours tr td:first-child {
    font-weight: 700
}



@media screen and (max-width: 1400px) {
    #restaurants-list {
        width: 100%
    }
    #restaurants-list li {
        width: calc((100% - 15px) / 4)
    }
}

@media screen and (min-width: 997px) and (max-width: 1300px) {
    #restaurant-name {
        padding-top: 15%;
    }

}

@media screen and (min-width: 996px) and (max-width: 1140px) {
    #restaurants-list {
        width: 100%
    }
    #restaurants-list li {
        width: 40%
    }
    #reviews-container {
        padding: 10% 10% 80px 20%
    }
}

@media screen and (max-width: 996px) {
    #restaurants-list {
        width: 100%
    }
    #map {
        height: 100vh;
    }
    #restaurants-list li {
        width: 75%
    }
    #maincontent {

    }
    #restaurant-hours td {
        vertical-align: top
    }
    #breadcrumb {
        width: 100%
    }
    #restaurant-container,
    #map-container,
    #reviews-container {
        width: 100% !important
    }
    #restaurant-container {
        width: 100%;
        align-items: center;
        height: inherit
    }

    #restaurant-container > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: inherit
    }
    #restaurant-hours{
      width: 90%
    }
    #map-container {
    }
    #reviews-container {
        order: 2;
        padding: 70px 0px 80px 0px;
        text-align: center
    }
    #reviews-list li {
        width: 90% !important
    }
}
